.candidates-grid{
    *{
        color: var(--text-color1);
    }

}
.css-14mxsc7-MuiDataGrid-root .MuiDataGrid-columnHeader 
{
    cursor: pointer;
    background-color: var(--bg-color);
}
// .css-14mxsc7-MuiDataGrid-root {
//     --DataGrid-containerBackground: #030303;
// }